/** Homepage **/

.index .featured-videos,
.index .recent-videos {
    margin: 20px 0;
}



/** Browse Videos **/

.browse .filter-options {
    margin: 20px 0 30px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    padding: 15px 0;
}

.browse .filter-options .btn-group {
    margin-right: 15px;
}



/** Login, Password, and Register **/

.login .form-container form {
    border-bottom: 1px solid #DDD;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#forgot-form {
    margin-top: 20px;
}

#forgot-form h2 {
    margin-top: 0;
}

.login .form p {
    margin: 10px 0 0;
}

.register .form {
    margin-top: 15px;
}

.login h1, .register h1 {
    margin-top: 0;
}



/** User Profile **/

.profile .nav-tabs {
    margin: 30px 0;
}

.profile .media-object + .btn {
    margin-top: 10px;
    display: block;
}

#member-videos .videos_list + p,
#member-playlists .playlist-list + p {
    text-align: center;
    margin-top: 20px;
}



/** Contact Us **/

.contact .form {
    margin-top: 15px;
}

.contact h1 {
    margin-top: 0;
}



/** Search Results **/

.search h1 {
    margin-bottom: 0;
}

.search .video {
    width: 100%;
    margin: 20px 0 0;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 5px;
}

.search .video .glyphicon-play {
    top: 46px;
    left: 96px;
    font-size: 30px;
}

.search .video .views {
    margin-left: 10px;
}



/** Play **/

.is-playlist .play-left {
    position: relative;
}

.is-playlist .play-right {
    margin-top: 440px;
}

.watch .actions {
    margin: 20px 0;
}

.watch h1 {
    margin-top: 0;
}

.watch .tab-pane {
    margin: 20px 0;
}

.video-player-container {
    margin: 0 auto;
}

#player-gated {
    position: relative;
}

#player-gated div {
    top: 130px;
    left: 35px;
    padding: 15px;
    position: absolute;
    width: 500px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    color: #FFF;
    font-weight: bold;
}

#player-gated p {
    margin: 0;
}

#player-gated .button_small {
    margin: 10px 10px 0;
}

.watch .rating {
    margin-left: 10px;
}

.like {
    color: #006600;
}

.dislike {
    color: #660000;
    margin-left: 7px;
}

.watch .attachment {
    margin-left: 10px;
}

.watch .attachment .glyphicon {
    font-size: .8em;
}



/** Play - Share Tab **/

#share a {
    width: 40px;
    height: 34px;
    background-repeat: no-repeat;
    display: inline-block;
    text-indent: -9999px;
    margin-right: 12px;
}

#share .facebook {
    background-image:url('../images/icon_facebook.png');
}

#share .twitter {
    background-image:url('../images/icon_twitter.png');
}

#share .google {
    background-image:url('../images/icon_googleplus.png');
}

#share .h4 {
    margin-top: 0;
}



/** Play - Add Tab **/

#add-to-playlist .playlist-container {
    border: 1px solid #CCC;
    height: 200px;
}

#add-to-playlist ul {
    padding: 0;
    margin: 8px 0 0 10px;
}

#add-to-playlist li {
    line-height: 24px;
    list-style: none;
    cursor: pointer;
}

#add-to-playlist .glyphicon-ok-sign {
    color: #060;
}

#add-to-playlist .glyphicon-plus-sign {
    color: #337ab7;
}

#add-to-playlist li strong {
    padding-left: 20px;
}

#add-to-playlist li a {
    color: #555;
}

#add-to-playlist li a:active,
#add-to-playlist li a:focus,
#add-to-playlist li a:hover {
    text-decoration: none;
}

#add-to-playlist .h4 {
    margin-top: 0;
}



/** Play - Comments **/

#comments-header {
    margin-top: 20px;
}

#comments-header p {
    margin: 9px 0 0;
}

.no-comments {
    margin: 0;
}



/** Play - Comment Form **/

.comment-form-main {
    margin-bottom: 20px;
}

.comment-form-reply {
    margin-top: 20px;
}

.comment-form .col-sm-3 {
    margin-top: 10px;
}



/** Play - Comment Cards **/

.comment-form-main + .comment-list .comment:first-child,
.comment {
    margin-top: 30px;
}

.comment-indent {
    margin-left: 70px;
}

.comment-indent-2 {
    margin-left: 140px;
}

.comment-indent-3 {
    margin-left: 210px;
}

.comment .flag {
    margin-left: 10px;
    color: #900;
}

.comment .comment-author,
.comment .comment-reply,
.comment .comment-date,
.comment .comment-action {
    font-size: 10px;
}



/** Play - Related Videos **/

.related-videos {
    margin-top: 20px;
}

.related-videos .row {
    margin: 0 -5px;
}

.related-videos .col-xs-6 {
    padding-left: 5px;
    padding-right: 5px;
}

.video-medium {
    margin: 20px 0 0;
    background-color: #FFF;
    border: 1px solid #DDD;
    padding: 5px;
}

.video-medium .thumbnail img {
    width: 140px;
    height: 78px;
}

.video-medium .glyphicon-play {
    left: 56px;
    top: 26px;
    font-size: 18px;
}

.video-medium .media-heading {
    margin-bottom: 5px;
}



/** Play - Playlist **/

#playlist {
    position: absolute;
    top: 0;
    right: -375px;
    width: 360px;
    background-color: #222;
    color: #FFF;
    margin-bottom: 20px;
}

#playlist header {
    padding: 10px 15px;
    height: 70px;
    background-color: #1a1a1a;
}

#playlist .playlist-collapse {
    color: #FFF;
    margin-left: 15px;
}

#playlist h5 {
    margin-top: 0;
}

#playlist header p {
    margin: 0;
}

#playlist .author {
    margin-right: 10px;
}

#playlist .scroll-y {
    background: transparent;
}

#playlist .scroll-element_track {
    background-color: #888;
}

#playlist .scroll-bar {
    background-color: #555;
    border-radius: 10px;
    cursor: default;
}

#playlist .scroll-bar:active {
    background-color: #444;
}

#playlist .video-list {
    height: 350px;
}

#playlist a {
    color: #3585D6;
}

#playlist .video-small {
    background: none;
    border: none;
    width: auto;
    margin: 0;
    padding: 10px 15px;
    cursor: pointer;
}

.video-small .thumbnail img {
    width: 100px;
    height: 56px;
}

#playlist .video-small:hover,
#playlist .active {
    background-color: #444;
}

.video-small .glyphicon-play {
    font-size: 20px;
    top: 14px;
    left: 35px;
}

.video-small .media-heading {
    font-size: 12px;
}

.video-small .small {
    font-size: 10px;
}
