/**
 * Notes
 * Overall Width: 980px
 * Adjusted Width: 930px
 * Left Column: 600px
 * Right Column: 300px
 * Space Between Columns: 30px
 * Padding In White Container: 50px
 */

html {
    height: 100%;
}

body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
}

#retainer {
    overflow:auto;
    padding-bottom: 105px;
}

#main {
    width: 930px;
    padding: 30px 25px 25px;
    overflow: hidden;
    margin: -5px auto 0;
}

#main > .left {
    width: 600px;
    margin-right: 30px;
    float: left;
}

#main > .right {
    width: 300px;
    float: right;
}

#main > .left > h1,
#main > h1 {
    margin-top: 0;
}

#footer {
    height: 80px;
    width: 100%;
    position: relative;
    margin-top: -80px;
    clear:both;
}

#footer a {
    margin: 0 30px;
}





/*****
HEADER
*****/
#sub_footer {
    width: 785px;
    height: 40px;
    padding: 30px 25px 10px 170px;
    margin: 0 auto;
    text-align: center;
}

#header {
    height: 120px;
    width: 100%;
}

#sub_header {
    width: 930px;
    margin: 0 auto;
    clear: both;
}

#logo {
    height: 107px;
    width: 264px;
    display: inline-block;
    margin: 6px 0;
    float: left;
}

#header input {
    display: block;
    border: none;
    border-radius: 5px;
    width: 230px;
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
    font-style: italic;
    float: right;
}

#header input.customText {
    font-style: normal;
}

#header form {
    position: relative;
}

.ui-autocomplete {
    position: absolute;
    top: 35px !important;
    width: 248px !important;
    z-index: 99;
    text-align: left;
}

.ui-autocomplete li {
    padding: 5px;
}

.ui-autocomplete li:hover {
    cursor: pointer;
}

span[role="status"] {
    display: none;
}

#header_right {
    float: right;
    text-align: right;
}

#header_right a {
    line-height: 35px;
    margin-left: 15px;
}





/******
NAV BAR
******/

#nav {
    width: 100%;
    height: 45px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    /*HTML5*/
}

#sub_nav {
    width: 930px;
    padding: 0 25px;
    margin: 0 auto;
}

#sub_nav:after {
    content:"";
    display: block;
    height: 0;
    clear: both;
}

nav a {
    font-size: 16px;
    margin-right: 50px;
    display: inline-block;
    padding: 0 10px;
    line-height: 45px;
    height: 45px;
}

nav a:hover {
    text-decoration: none;
}

nav {
    float: left;
}

#languages {
    float: right;
    position: relative;
}

#languages .active-language {
    padding-right: 12px;
}

#languages a {
    font-size: 14px;
    line-height: 45px;
}

#languages ul {
    display: none;
    position: absolute;
    text-align: right;
    padding: 5px 15px;
    right: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#languages:hover ul {
    display: block;
}

#languages ul a {
    line-height: 23px;
}




/*******
ELEMENTS
*******/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a, a.big, a.large, a.huge {
}

h1, h2, .huge, .large, h3, .big {
    margin: 10px 0;
}

h1, .huge {
    font-size: 24px;
}

h2, .large {
    font-size: 18px;
}

h3, .big {
    margin: 5px 0;
    font-size: 14px;
}

.small {
    font-size: 10px;
}

p {
    margin: 3px 0;
}

em {
    font-style: italic;
}

a img {
    border: none;
}





/******
GENERAL
******/

/** FORMS **/

/*Remove button padding in FF*/
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.button, .button_small {
    margin: 0;
    line-height: 31px;
    height: 35px;
    padding: 1px 15px 3px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.button[disabled] {
    cursor: not-allowed;
}

.button_small {
    font-size: 12px;
    line-height: 1em;
    height: auto;
    padding: 6px 15px 8px;
}

a.button, a.button_small {
    display: inline-block;
}

a.button {
    line-height: 33px;
    padding: 0 15px;
}

.form {
    border-radius: 5px;
    padding: 15px 25px;
    width: 250px;
}

.wide {
    width: 440px;
}

.form form {
    display: block;
    overflow: hidden;
}

.form input[type="text"],
.form input[type="password"],
.form select,
.form textarea {
    height: 35px;
    width: 230px;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
    margin: 5px 0 25px;
    display: block;
}

.form textarea {
    width: 420px;
    height: 160px;
    padding: 10px;
}

.form select {
    padding: 5px 10px;
    width: 250px;
}

.form .button {
    float: right;
}

.form .hint {
    margin-top: -17px;
    margin-bottom: 20px;
}

.form label.error + input[type="text"],
.form label.error + input[type="password"],
.form label.error + select,
.form label.error + textarea {
    border: 1px solid #c20202;
    padding: 0 9px;
}

.form label.error + textarea {
    padding: 10px 9px;
}


/** MESSAGES **/

.message {
    border: 2px solid;
    padding: 10px;
    margin: 10px 0;
    display: none;
}

.left > .message:first-child {
    margin-top: 0;
}

.success {
    display: block;
}

.errors {
    display: block;
}

.notice {
    display: block;
}


/** VIDEOS **/

.videos_list {
    margin-bottom: -20px;
    overflow: hidden;
}

.videos_list div:nth-child(3n+3) {
    margin-right: 0;
}

.video {
    width: 165px;
    display: inline-block;
    vertical-align: top;
    margin-right: 47px;
    margin-bottom: 20px;
}

.video .thumbnail {
    position: relative;
    width: 165px;
    height: 92px;
}

.video_medium .thumbnail {
    width: 125px;
    height: 70px;
}

.video_small .thumbnail {
    width: 100px;
    height: 56px;
}

.video .thumbnail span {
    right: 0;
    bottom: 0;
    position: absolute;
}

.video .duration {
    font-size: 11px;
    padding: 3px;
}

.video_medium .duration,
.video_small .duration {
    font-size: 10px;
    padding: 2px;
}

.video .watchLater {
    display :none;
}

.video .watchLater:hover {
}

.video .watchLater a {
    padding: 4px;
    display: block;
    width: 16px;
    height: 13px;
}

.video .thumbnail:hover .watchLater {
    display: block;
}

.video .thumbnail:hover .duration {
    display: none;
}

.video .message {
    width: 145px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border: none;
    font-weight: normal;
    margin: 0;
}

.video_medium .message {
    width: 115px;
    height: 60px;
}

.video_small .message {
    width: 90px;
    height: 46px;
}

.video_medium .message,
.video_small .message {
    padding: 5px;
    font-size: 10px;
}

.video .message a {
}

.video .success {
    display: none;
}

.video .success p {
    padding-top: 55px;
    text-align: center;
    margin: 0;
}

.video_medium .success p {
    padding-top: 40px;
}

.video_small .success p {
    padding-top: 30px;
}

.video .errors {
    display: none;
}

.video .errors p {
    padding-left: 15px;
    margin: 0;
}

.video_medium .errors p,
.video_small .errors p {
    padding-left: 12px;
}




/** PLAYLISTS **/

.playlist-list {
    margin-bottom: -20px;
}

.playlist {
    width: 165px;
    margin-right: 47px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.playlist:nth-child(3n+3) {
    margin-right: 0;
}

.playlist img {
    display: block;
}

.playlist span {
    width: 60px;
    height: 67px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
    text-align: center;
    display: block;
    padding: 25px 5px 0 5px;
}

.playlist .watch-all,
.playlist a:hover .video-count {
    display: none;
}

.playlist a:hover .watch-all {
    display: block;
}

.playlist-empty a:hover .video-count {
    display: block;
}






/** MEMBER LISTS **/
.member_list {
    overflow: hidden;
    margin-bottom: -15px;
}

.member_list > div {
    width: 135px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}

.member_list div:nth-child(4n+4) {
    margin-right: 0;
}





/** MISC **/

.clear {
    clear: both;
}

.hide,
.hidden {
    display: none;
}

.show {
    display: block;
}

#pagination {
    margin: 10px 0 0;
    font-size: 14px;
    text-align: right;
}

#pagination li {
    display: inline;
    margin: 0 5px;
}

/** TABS **/

.tabs {
    clear: both;
    text-align: center;
    height: 22px;
    margin-bottom: 15px;
}

.tabs a {
    display: inline-block;
    margin: 0 4px;
    line-height: 20px;
    height: 20px;
    padding: 1px 15px 2px;
    border-radius: 5px 5px 0 0;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.tab_block {
    display: none;
}